/bin/ameba
/doc/
/lib/
/browser/node_modules/
/browser/.built
/temp
/logs

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

*.sublime-workspace
*.sublime-project
